<div
  class="hero bg-hero-pattern-topography bg-base-200 h-[90vh] overflow-hidden relative"
>
  <div
    class="hero-pattern bg-hero-pattern-topography opacity-50 absolute inset-0"
  ></div>
  <div class="hero-content text-center">
    <div class="">
      <h1 class="text-3xl md:text-5xl">Hello World👋</h1>
      <p class="py-6 text-5xl md:text-9xl">
        I’m Damara <br />
        Web Developer
      </p>
      <div class="bg-black">
        <p class="!text-white uppercase font-semibold tracking-widest">
          Bridging design and technology to create intuitive and engaging user
          experiences
        </p>
      </div>
      <div class="card-actions justify-center mt-4">
        <a
          href="https://github.com/aryadmara"
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-primary"
        >
          Check My Github
        </a>
      </div>
    </div>
  </div>
</div>
