<div class="container mx-auto px-4 md:px-8 lg:px-16 my-10">
  <div class="mb-8">
    <h1 class="text-3xl md:text-4xl font-semibold">About Me🤞</h1>
    <h6 class="text-xl md:text-2xl">Let's Get to Know Each Other</h6>
    <div class="chat chat-start mt-8">
      <div class="chat-image avatar">
        <div class="w-10 rounded-full">
          <img alt="profile" src="/profile.jpg" />
        </div>
      </div>
      <div class="chat-header font-sans">
        Damara
        <time class="text-xs opacity-50">12:45</time>
      </div>
      <div class="chat-bubble tracking-widest font-semibold">
        I am deeply passionate about pursuing a career as a fullstack web
        developer. I began my programming journey by attending the Purwadhika
        Digital Technology School as a full-stack web developer✍️, after deciding
        to leave my previous career in psychology to pursue what has been a
        lifelong passion: technology with a problem-solving orientation. My
        enthusiasm for learning new, advanced, and cutting-edge technology is a
        key value that I have to contribute maximally to this industry
      </div>
    </div>
  </div>
</div>
